div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 247, 241);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
}