<nav
  class="navbar fixed-top navbar-expand-md navbar-light shadow"
  style="background-color: rgb(255, 255, 255)"
  role="navigation"
  appHideOnScroll
>
  <a class="navbar-brand font-italic" routerLink="">Learn Languages Playing</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="games">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="logIn">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="signUp">Sign up</a>
      </li>
    </ul>
  </div>
</nav>
