<nav class="navbar sticky-top navbar-expand-md navbar-light" style="background-color: rgba(255, 255, 255, 0.774)" role="navigation">
  <!-- <img src="assets/pics/logo.svg" width="50" height="50" alt="" class="d-inline-block align-top"> -->
  <a class="navbar-brand font-italic">Learn Languages Playing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
			</li>
			<li class="nav-item">
        <a class="nav-link"
        data-toggle="modal" 
        data-target="#signUp"
  >Sign up</a>
      </li>
    </ul>
  </div>
</nav>
