.container {
  display: flex;
  align-items: center;
  justify-content: center;

	button {
    position: absolute;
    bottom: 3rem;
    right: 1rem;
	}
}

#turn {
  position: absolute;
  top: 5rem;
}