<div class="info">
  <h3>Why is it a good idea?</h3>
  <div class="container row mt-5 align-items-center">
    <div class="col-md-6 col-5">
      <div class="float-left">
        <p>
          Because a traditional way of learning is stressful for majority of
          people, but when you are playing games, you are relaxed.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-7">
      <img src="assets/pics/infoPlaying.jpg" class="img-fluid" id="imgPlay" />
    </div>
  </div>

  <div class="container row mt-5 align-items-center">
    <div class="col-md-6 col-7">
      <img
        src="assets/pics/infoCompetition.jpg"
        class="img-fluid"
        id="imgCompet"
      />
    </div>
    <div class="col-md-6 col-5">
      <div class="float-right">
        <p>
          Competition can also promote you to learn harder. Besides, you can
          track your progress.
        </p>
      </div>
    </div>
  </div>
  <div class="container row mt-5 flex justify-content-center">
    <h3>This site is useful for:</h3>
  </div>

  <div class="card-deck mt-5">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="card-title">Teachers</h3>
        <img
          class="img-fluid"
          alt="Teachers"
          src="assets/pics/infoTeacher.jpg"
        />
        <p class="card-text">
          Here you can find some ideas how to improve and make you classes even
          more fascinating
        </p>
      </div>
    </div>
    <div class="card shadow">
      <div class="card-body">
        <h3 class="card-title">Independent Learners</h3>
        <img
          class="img-fluid"
          alt="Independent learners"
          src="assets/pics/infoLearner.jpg"
        />
        <p class="card-text">
          Sometimes it is really time-consuming to look for materials on your
          own, here you can find a lot of materials you needed at one platform.
        </p>
      </div>
    </div>
    <div class="card shadow">
      <div class="card-body">
        <h3 class="card-title">Parents</h3>
        <img
          class="img-fluid"
          alt="Parents"
          src="assets/pics/infoParents.png"
        />
        <p class="card-text">
          It is a good way to help your children with English and at the same
          time to spend time with pleasure
        </p>
      </div>
    </div>
  </div>
</div>
