<div
  class="modal fade"
  id="taskDisplay"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h4>
          {{ value?.question }}
        </h4>
      </div>
    </div>
  </div>
</div>
<p>{{ value?.question }}</p>