<div class="card ml-5">
  <div class="view-first">
    <div class="card-body">
      <h4 class="card-title">Board Games</h4>
      <p class="card-text text-center">
        Game based lessons create a friendly and collaborative environment among
        students in learning grammar
      </p>
    </div>
    <div class="view-second">
      <h4>We have Board Games to master:</h4>
      <div class="d-flex flex-column mt-3">
        <a class="btn" [routerLink]="['boardGame', 'pastSimple']">Past Simple</a>
        <a class="btn" [routerLink]="['boardGame', 'prPerfectPastSimple']">Present Perfect and Past Simple</a>
        <a class="btn">Present Perfect</a>
      </div>
    </div>
  </div>
</div>
<div routerLink="ownGame">Own Game</div>