.container-fluid {
	h3 {
		text-align: center;
		margin-top: 10px;
	}
	h4 {
		text-align: center;
	}

	p {
		cursor: pointer;
		font-size: 20px;
		color: black;
		text-decoration: none;
		text-align: center;
	}
	
	p:hover {
		text-decoration: underline;
	}
	max-width: 500px;
	min-width: 300px;
	margin-top: 80px;
	background-color: whitesmoke;
	border-radius: 10px;
}
.error {
  box-shadow: 0.5em 0.5em 2em rgb(133, 10, 10);
}