html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	background:#f3e3d9;
}

.btn {
	background-color: #d8663d;
	border-radius: 6px;
}

.btn:hover {
	background-color: #d8663d;
	color: antiquewhite;
}

h3, h4 {
	font-family: 'Dosis', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}
