.container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	width: 35rem;

	h2 {
		text-align: center;
		font-size: 1.5rem;
	}

	p {
		color: white;
	}

	.buttonsDisplay {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: 100%;

		button {
			border-radius: 50%;
			border: none;
			height: 2.5rem;
			width: 2.5rem;
		}
	}
}